<nav>
    <div id="navbar-content" class="width-lock">
        <a href="#"><img id="navbar-logo" src="{{site.baseurl}}/assets/img/nav/Logo.png"></a>
        <div class="handle" onclick="toggle_nav_menu()">&#9776;</div>
        <ul class="navbar-menu">
            <li><a href="{{site.baseurl}}/index.html">HOME</a></li>
            <li><a href="{{site.baseurl}}/projects.html">PROJECTS</a></li>
            <li><a href="{{site.baseurl}}/events.html">EVENTS</a></li>
            <li><a href="{{site.baseurl}}/about.html">ABOUT</a></li>
            <button id="join-now-button" style="cursor:pointer" class="button-round" onclick="location.href='#' ">Sign Up</button>
        </ul>
        
    </div>
</nav>